<ion-header [translucent]="true" class="header">
  <ion-toolbar>
    <ion-img src="assets/icon/cc14a9e1-dd2b-44a5-812c-d1f9710393f3.jpeg" class="header-image" slot="start"></ion-img>
    <ion-img src="assets/icon/5cc7aa4f-7468-4185-80ce-eb5fc46d32c3.jpeg" class="header-img" slot="start"></ion-img>
    <ion-title></ion-title>
    <ion-select class="custom-select" slot="start">
      <ion-select-option value="english" class="custom-option">English</ion-select-option>
      <ion-select-option value="hindi" class="custom-option">Hindi</ion-select-option>
      <ion-select-option value="telugu" class="custom-option">Telugu</ion-select-option>   
     </ion-select>
     <ion-buttons slot="end" class="round">
      <ion-button class="home" routerLink="/welcom">home</ion-button>
      <ion-button class="home" routerLink="/profile">about</ion-button>
      <ion-button *ngIf="isLoggedIn" class="home" (click)="logout()">logout</ion-button>
      <ion-button *ngIf="!isLoggedIn" class="home">login</ion-button>
     </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="profile-content">
  <!-- Display user profiles here -->
  <h1>Profile</h1>

  <div class="profile">
   <ion-avatar class="profile-image">
     <ion-img [src]="profile.images"></ion-img>
   </ion-avatar>
  </div>

  <div class="profile">
   <ion-item>
       <h2><strong>{{profile.fullName}}</strong></h2>
   </ion-item>
  </div>

  <p class="DETAILS">Details</p>

  <div class="profile1" *ngIf="profile.userName">
   <ion-item lines="none">
     <h5><strong>UserName:</strong> {{profile.userName}}</h5>
   </ion-item>
  </div>

  <div class="profile1" *ngIf="profile.dob">
   <ion-item lines="none">
     <h5><strong>DateOfBirth:</strong> {{profile.dob}}</h5>
   </ion-item>
  </div>

  <div class="profile1" *ngIf="profile.mobileNo">
   <ion-item lines="none">
     <h5><strong>MobileNumber:</strong> {{profile.mobileNo}}</h5>
   </ion-item>
  </div>

  <div class="profile1" *ngIf="profile.gender">
   <ion-item lines="none">
     <h5><strong>Gender:</strong> {{profile.gender}}</h5>
   </ion-item>
  </div>

  <div class="profile1" *ngIf="profile.aboutme">
   <ion-item lines="none">
     <h5><strong>AboutMe: </strong>{{profile.aboutme}}</h5>
   </ion-item>
  </div>

  <p class="DETAILS">More About Me</p>
<ion-card class="profile-card">
  <!-- Loop through moreAboutMe array -->
  <div class="profile1" *ngIf="profile.height">
    <ion-item lines="none">
      <h5><strong>Height: </strong>{{profile.height}}</h5>
    </ion-item>
   </div>

   <div class="profile1" *ngIf="profile.yourFaith">
    <ion-item lines="none">
      <h5><strong>Faith: </strong>{{profile.yourFaith}}</h5>
    </ion-item>
   </div>

   <div class="profile1" *ngIf="profile.yourMotherTongue">
    <ion-item lines="none">
      <h5><strong>MotherTongue: </strong>{{profile.yourMotherTongue}}</h5>
    </ion-item>
   </div>

   <div class="profile1" *ngIf="profile.doYouSmoke">
    <ion-item lines="none">
      <h5><strong>Smoking: </strong>{{profile.doYouSmoke}}</h5>
    </ion-item>
   </div>

   <div class="profile1" *ngIf="profile.yourDrinkingHabits">
    <ion-item lines="none">
      <h5><strong>Drinking: </strong>{{profile.yourDrinkingHabits}}</h5>
    </ion-item>
   </div>

   <div class="profile1" *ngIf="profile.yourStatus">
    <ion-item lines="none">
      <h5><strong>Status: </strong>{{profile.yourStatus}}</h5>
    </ion-item>
   </div>
  </ion-card>

   <!-- <div class="profile" *ngIf="profile.sports">
    <ion-item lines="none">
      <h5>{{profile.sports}}</h5>
    </ion-item>
   </div> -->

   <P class="DETAILS">Interests</P>
   <ion-card class="profile-card">
  <!-- Loop through interests array -->
  <div class="profile1" *ngIf="profile.sports">
    <ion-item lines="none">
      <h5><strong>Sports: </strong>{{profile.sports}}</h5>
    </ion-item>
   </div>

   <div class="profile1" *ngIf="profile.creativity">
    <ion-item lines="none">
      <h5><strong>Creativity: </strong>{{profile.creativity}}</h5>
    </ion-item>
   </div>

   <div class="profile1" *ngIf="profile.reading">
    <ion-item lines="none">
      <h5><strong>Reading: </strong>{{profile.reading}}</h5>
    </ion-item>
   </div>

   <div class="profile1" *ngIf="profile.foodAndDrink">
    <ion-item lines="none">
      <h5><strong>FoodAndDrink: </strong>{{profile.foodAndDrink}}</h5>
    </ion-item>
   </div>

   <div class="profile1" *ngIf="profile.selfCare">
    <ion-item lines="none">
      <h5><strong>SelfCare: </strong>{{profile.selfCare}}</h5>
    </ion-item>
   </div>

   <div class="profile1" *ngIf="profile.pets">
    <ion-item lines="none">
      <h5><strong>Pets: </strong>{{profile.pets}}</h5>
    </ion-item>
   </div>
  </ion-card>

  <p class="DETAILS">Pictures</p>
  <ion-card class="ion-text-center">
    <ion-item *ngIf="profile.images" class="image-item">
      <ion-img [src]="profile.images" class="full-width"></ion-img>
    </ion-item>
  </ion-card>

  <p class="DETAILS">Videos</p>
  <ion-card>
    <ion-item *ngIf="profile.videos">
      <video src="{{profile.videos}}" controls></video>
    </ion-item>
  </ion-card>
</ion-content>
