<ion-header [translucent]="true" class="header">
  <ion-toolbar>
    <ion-img src="assets/icon/cc14a9e1-dd2b-44a5-812c-d1f9710393f3.jpeg" class="header-image" slot="start"></ion-img>
    <ion-img src="assets/icon/5cc7aa4f-7468-4185-80ce-eb5fc46d32c3.jpeg" class="header-img" slot="start"></ion-img>
    <ion-title></ion-title>
    <ion-select class="custom-select" slot="start">
      <ion-select-option value="english" class="custom-option">English</ion-select-option>
      <ion-select-option value="hindi" class="custom-option">Hindi</ion-select-option>
      <ion-select-option value="telugu" class="custom-option">Telugu</ion-select-option>   
     </ion-select>
     <ion-buttons slot="end" class="round">
      <ion-button class="home" (click)="home()">home</ion-button>
      <ion-button class="home">about</ion-button>
      <ion-button class="home">login</ion-button>
     </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="profile-content">
  <!-- Display user profiles here -->
  <h1>profile</h1>
  <div class="profile">
   <ion-avatar class="profile-image">
     <ion-img [src]="profile.images"></ion-img>
   </ion-avatar>
  </div>

  <div class="profile">
   <ion-item>
       <h2><strong>{{profile.fullName}}</strong></h2>
   </ion-item>
  </div>

  <p class="DETAILS">DETAILS:</p>

  <div class="profile1" *ngIf="profile.userName">
   <ion-item lines="none">
     <h5>Username: {{profile.userName}}</h5>
   </ion-item>
  </div>

  <div class="profile1" *ngIf="profile.dob">
   <ion-item lines="none">
     <h5>Date of Birth: {{profile.dob}}</h5>
   </ion-item>
  </div>

  <div class="profile1" *ngIf="profile.mobileNo">
   <ion-item lines="none">
     <h5>Mobile Number: {{profile.mobileNo}}</h5>
   </ion-item>
  </div>

  <div class="profile1" *ngIf="profile.gender">
   <ion-item lines="none">
     <h5>Gender: {{profile.gender}}</h5>
   </ion-item>
  </div>

  <div class="profile1" *ngIf="profile.aboutme">
   <ion-item lines="none">
     <h5>{{profile.aboutme}}</h5>
   </ion-item>
  </div>

  <p class="DETAILS">moreAboutMe</p>
<ion-card class="profile-card">
  <!-- Loop through moreAboutMe array -->
  <div class="profile1" *ngIf="profile.height">
    <ion-item lines="none">
      <h5>{{profile.height}}</h5>
    </ion-item>
   </div>

   <div class="profile1" *ngIf="profile.yourFaith">
    <ion-item lines="none">
      <h5>{{profile.yourFaith}}</h5>
    </ion-item>
   </div>

   <div class="profile1" *ngIf="profile.yourMotherTongue">
    <ion-item lines="none">
      <h5>{{profile.yourMotherTongue}}</h5>
    </ion-item>
   </div>

   <div class="profile1" *ngIf="profile.doYouSmoke">
    <ion-item lines="none">
      <h5>{{profile.doYouSmoke}}</h5>
    </ion-item>
   </div>

   <div class="profile1" *ngIf="profile.yourDrinkingHabits">
    <ion-item lines="none">
      <h5>{{profile.yourDrinkingHabits}}</h5>
    </ion-item>
   </div>

   <div class="profile1" *ngIf="profile.yourStatus">
    <ion-item lines="none">
      <h5>{{profile.yourStatus}}</h5>
    </ion-item>
   </div>
  </ion-card>

   <!-- <div class="profile" *ngIf="profile.sports">
    <ion-item lines="none">
      <h5>{{profile.sports}}</h5>
    </ion-item>
   </div> -->

   <P class="DETAILS">Interests</P>
   <ion-card class="profile-card">
  <!-- Loop through interests array -->
  <div class="profile1" *ngIf="profile.sports">
    <ion-item lines="none">
      <h5>{{profile.sports}}</h5>
    </ion-item>
   </div>

   <div class="profile1" *ngIf="profile.creativity">
    <ion-item lines="none">
      <h5>{{profile.creativity}}</h5>
    </ion-item>
   </div>

   <div class="profile1" *ngIf="profile.reading">
    <ion-item lines="none">
      <h5>{{profile.reading}}</h5>
    </ion-item>
   </div>

   <div class="profile1" *ngIf="profile.foodAndDrink">
    <ion-item lines="none">
      <h5>{{profile.foodAndDrink}}</h5>
    </ion-item>
   </div>

   <div class="profile1" *ngIf="profile.selfCare">
    <ion-item lines="none">
      <h5>{{profile.selfCare}}</h5>
    </ion-item>
   </div>

   <div class="profile1" *ngIf="profile.pets">
    <ion-item lines="none">
      <h5>{{profile.pets}}</h5>
    </ion-item>
   </div>
  </ion-card>

</ion-content>
