<ion-header [translucent]="true" class="header">
  <ion-toolbar>
    <ion-img src="assets/icon/cc14a9e1-dd2b-44a5-812c-d1f9710393f3.jpeg" class="header-image" slot="start"></ion-img>
    <ion-img src="assets/icon/5cc7aa4f-7468-4185-80ce-eb5fc46d32c3.jpeg" class="header-img" slot="start"></ion-img>
    <ion-title></ion-title>
    <ion-select class="custom-select" slot="start">
      <ion-select-option value="english" class="custom-option">English</ion-select-option>
      <ion-select-option value="hindi" class="custom-option">Hindi</ion-select-option>
      <ion-select-option value="telugu" class="custom-option">Telugu</ion-select-option>   
     </ion-select>
     <ion-buttons slot="end" class="round">
      <ion-button class="home" (click)="home()">home</ion-button>
      <ion-button class="home">about</ion-button>
      <ion-button class="home">login</ion-button>
     </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="profile-content">
   <!-- Display user profiles here -->
   <div class="profile">
    <ion-avatar class="profile-image">
      <ion-img [src]="profile.images"></ion-img>
    </ion-avatar>
   </div>

   <div class="profile">
    <ion-item>
        <h2><strong>{{profile.fullName}}</strong></h2>
    </ion-item>
   </div>

   <p class="DETAILS">DETAILS:</p>
   <div class="profile">
    <ion-item lines="none">
      <h5>userName: {{profile.userName}}</h5>
    </ion-item>
   </div>

   <div class="profile">
    <ion-item lines="none">
      <h5>dateofBirth: {{profile.dob}}</h5>
    </ion-item>
   </div>

   <div class="profile">
    <ion-item lines="none">
      <h5>mobileNo: {{profile.mobileNo}}</h5>
    </ion-item>
   </div>

   <div class="profile">
    <ion-item lines="none">
      <h5>gender: {{profile.gender}}</h5>
    </ion-item>
   </div>

   <div>
    <ion-item lines="none">
      <h5>{{profile.aboutme}}</h5>
    </ion-item>
   </div>
  <!-- <ion-list class="profile-info">
   <ion-item>
    <ion-label>
      <div><h2>{{ profile.fullName }}</h2></div>
      <div><p>{{ profile.aboutme }}</p></div>
      <div><p>Username: {{ profile.userName }}</p></div>
      <div><p>Date of Birth: {{ profile.dob }}</p></div>
      <div><p>Mobile Number: {{ profile.mobileNo }}</p></div>
      <div><p>Gender: {{ profile.gender }}</p></div>
      <div><p>More About Me: {{ profile.moreAboutMe.join(', ') }}</p></div>
      <div><p>Interests: {{ profile.interests.join(', ') }}</p></div> -->

     <!-- Loop through moreAboutMe array -->
        <!-- <div *ngFor="let item of profile.moreAboutMe">
          <p>{{ item.height }}</p>
          <p>{{ item.relationShipStatus }}</p> -->
          <!-- Add other properties as needed -->
        <!-- </div>       -->
        
        <!-- Loop through interests array -->
        <!-- <div *ngFor="let item of profile.interests">
          <p>{{ item.sports }}</p>
          <p>{{ item.creativity }}</p> -->
          <!-- Add other properties as needed -->
        <!-- </div> -->

    <!-- </ion-label>
   </ion-item>
  </ion-list> -->
</ion-content>
