<ion-header [translucent]="true" class="header">
  <ion-toolbar>
    <ion-img src="assets/icon/cc14a9e1-dd2b-44a5-812c-d1f9710393f3.jpeg" class="header-image" slot="start"></ion-img>
    <ion-img src="assets/icon/5cc7aa4f-7468-4185-80ce-eb5fc46d32c3.jpeg" class="header-img" slot="start"></ion-img>
    <ion-title></ion-title>
    <ion-select class="custom-select" slot="start">
      <ion-select-option value="english" class="custom-option">English</ion-select-option>
      <ion-select-option value="hindi" class="custom-option">Hindi</ion-select-option>
      <ion-select-option value="telugu" class="custom-option">Telugu</ion-select-option>   
     </ion-select>
     <ion-buttons slot="end" class="round">
      <ion-button class="home" routerLink="/welcom">Home</ion-button>
      <ion-button class="home">about</ion-button>
      <ion-button class="home" routerLink="/signup">login</ion-button>
     </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="image-container">
  <ion-img src="assets/icon/sss.jpeg" class="image"></ion-img>
  <div class="overlay-text">
    <h2>Find Your Perfect<br>
      Match Today...
    </h2>
    <p>Discover a world of potential matches waiting for you.<br>
      Our advanced algorithms help you find your perfect<br>
      partner based on your preferences and interests.
    </p>
  </div>
  </div>
  <h1>Looking for a Relationship?</h1>
<br>
<br>

  <div class="row-container">
    <div class="row-set">
      <div class="row-item" style="background-color: #FDE0FF;">
        <h3 class="font">1. Easy to use</h3>
        <p class="f">Easy signup, Active Group, Couples and Women.</p>
      </div><br>
      <div class="row-item" style="background-color:  #D1FFD6;">
        <h3 class="font">3. Mobile Apps</h3> 
        <p class="f">Download our Strange In Dating App.</p>
      </div>
    </div>
    

    <div class="row-set">
      <div class="row-item" style="background-color: #FFDFCD;">
        <h3 class="font">2. No Fakes</h3>
        <p class="f">Strange In is strictly monitored No Fakes.</p>
      </div><br>
      <div class="row-item" style="background-color: #E0DBFF;">
        <h3 class="font">4. Real Connections</h3>
        <p class="f">Build Meaningful Relationships with Real People.</p>
      </div>
    </div>
  </div>

  <br>
  <div class="main-container">
  <div class="image-container1">
    <ion-img src="assets/icon/WhatsApp Image 2023-09-29 at 3.25.28 PM.jpeg" class="img"></ion-img>
  <div class="overlay-image">
    <ion-img src="assets/icon/img1.jpeg" class="img-1"></ion-img>
    <div class="cross"></div>
  </div>
 </div>
 <div class="text-content">
  <h2>Strange In - guarantee</h2>
  <h3>A trusted Online Dating Site For <br>Polygamy Matchmaking</h3>
  <p>Jion the thousands of users who have found love <br>through our platform. Read their heartwarming stories<br> and embark on your own romantic journey today. <br>Our-friendly interface makes it simple to get<br> stared. Sign up in minutes set up your profile, and<br> start browsing potemtial matches effortlessly.</p>
<ion-button shape="round" class="button" (click)="start()">Get started</ion-button>
</div>
</div>
  
</ion-content>
